<div data-role="view" data-title="View" data-layout="main" data-model="app.teamDetailView" data-show="app.teamDetailView.onShow" data-after-show="app.teamDetailView.afterShow" id="teamDetailViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.teamDetailView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_teamDetailView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!--<div>
        <h1 style="color: #5e9ca0;">&nbsp;</h1>
        <h2><strong>Company:</strong><br><strong>Kreuznacher Zentralwäscherei GmbH & Co. Mietwäsche KG</strong><br><strong>Industriestr. 8 </strong><br><strong>55543 Bad Kreuznach</strong></h2>
        <h2><strong>Opening Hours</strong><br><strong>Monday - Friday 12:00 - 18:00</strong></h2>
        <h2><strong>Contacts:</strong></h2>
        <h2><strong>Sales</strong><br><strong>Telephone:&nbsp;<a title="Reach Us By Phone" href="tel:2124543456">212-454-3456</a></strong><br><strong>email:&nbsp;<a title="Email to Sales" href="mailto:email:a.kruschel@k-z-w.de">sales@diemietwaesche.de</a></strong></h2>
        <h2><strong>Customer Service</strong><br><strong>Telephone:&nbsp;<a title="Reach Customer Service By Phone" href="tel:2124545454">212-454-5454</a></strong><br><strong>email:&nbsp;<a title="Mail Our Customer Service" href="mailto:service@abccompany.com">service@diemietwaesche.de</a></strong></h2>
        <h2><strong>Technical Support</strong><br><strong>Telephone:&nbsp;<a title="Contact Us at Tech Support" href="tel:2124545455">212-454-5455</a></strong><br><strong>email:&nbsp;<a title="Contact Our Technical Support" href="mailto:techhelp@abccompany.com">techhelp@diemietwaesche.de/a></strong></h2>
    </div>-->

    <div>
        <h1 style="color: #5e9ca0;">&nbsp;</h1>
        <h2><strong>diemietwaesche.de</strong><br><strong>Kreuznacher Zentralwäscherei GmbH & Co. Mietwäsche KG</strong><br><br><strong>Industriestr. 8 </strong><br><strong>55543 Bad Kreuznach</strong></h2>
        
        <h2><strong>Telefon: <a title="Reach us by phone" href="tel:+49671886000">0671-88600-0</a></strong><br>
        <h2><strong>Fax: 0671-88600-50</strong><br>
        <h2><strong>Mail: <a href="mailto:diemietwaesche@k-z-w.de?Subject=Meine%20Anfrage" target="_top">diemietwaesche@k-z-w.de</a></strong><br><br>
        <h2><strong>Öffnungszeiten:</strong><br><strong>Montag – Freitag von 7.30 – 16.30 Uhr</strong></h2><br>
        <h2><strong>kontaktiere uns:</strong></h2>
        <h2><strong>Teamleiterin:</strong><br><strong>Kathrin Nestler &nbsp;<a title="Reach us by phone" href="tel:+496718860018">0671-88600-18</a></strong><br></h2>
        <h2><strong>Kundenbetreuerin intern:</strong><br><strong>Ulrike Reitz &nbsp;<a title="Reach us by phone" href="tel:+496718860043">0671-88600-43</a></strong><br></h2>
        <h2><strong>Kundenbetreuerin intern:</strong><br><strong>Angela Beck &nbsp;<a title="Reach us by phone" href="tel:+496718860036">0671-88600-36</a></strong><br></h2>
    </div>
    <!-- END_CUSTOM_CODE_teamDetailView -->
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="teamDetailViewModelTemplate" data-bind="source: teamDetailViewModel.dataSource, events: {click: teamDetailViewModel.itemClick}" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_teamDetailViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_teamDetailViewModel -->
    <script type="text/x-kendo-template" id="teamDetailViewModelTemplate">
        <div class="image-with-text">
            # data = app.teamDetailView.teamDetailViewModel.fixHierarchicalData(data); #

            <h3>#: data['DisplayName'] #</h3>

        </div>
        <div id="salesSupportField" class="field field--heading">

            <h1>Please call or email us for Sales Support.</h1>

        </div>
    </script>
</div>