<div data-role="view" data-title="View" data-layout="main-nonav" data-model="app.requestView" data-show="app.requestView.onShow" data-after-show="app.requestView.afterShow" id="requestViewScreen" class="screen">
    <div id="requestViewModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_requestViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_requestViewModel -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.requestView.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_requestView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div> <img src="components/images/smiley.jpg" alt="Smiley face" height="40" width="100%">
    </div>
    <br>
    <div style="margin:3%;"><span >Please take 4 pictures of the damaged area.  Then please write a small note about the damage.  When you have completed everything, push the Send Button.</span>
    </div>
<div class="row">
                    <div class="button-group">
                <a data-role="button" onclick="capturePhoto1();" >Take Photo1</a>
                <a data-role="button" onclick="capturePhoto2();" >Take Photo2</a>

            </div>
        <img class="imgStyle" id="smallImage1" src="">
        <img class="imgStyle" id="smallImage2" src="">
       
        <!--<img style="display:none; width:60%; margin-left:20%" id="largeImage" src="" >-->
        </div>
		
		<div class="row">
                    <div class="button-group">
                
                <a data-role="button" onclick="capturePhoto3();" >Take Photo3</a>
                <a data-role="button" onclick="capturePhoto4();" >Take Photo4</a>
                <!--<a class="primary" data-role="button" onclick="getPhoto(pictureSource.PHOTOLIBRARY);">Photo Library</a>-->
            </div>
        
        <img class="imgStyle" id="smallImage3" src="">
        <img class="imgStyle" id="smallImage4" src="">
        <!--<img style="display:none; width:60%; margin-left:20%" id="largeImage" src="" >-->
        </div>
    <!--<div class="button-group">
        <a data-role="button" data-bind="events: { click: requestViewModel.cancel }">Cancel</a>
        <a class="primary" data-role="button" data-bind="events: { click: requestViewModel.submit }" onclick="window.open('mailto:ariel.amitc@gmail.com?subject=subject&body=body');">Confirm</a>
    </div>-->
    <!-- END_CUSTOM_CODE_requestView -->
</div>
<style>
.imgStyle{
    display: block;
    height: 60px;
    width: 40%;
    float: left;
    margin: 2%;
}
</style>