<div data-role="view" data-title="View" data-layout="main" data-model="app.requestView" data-show="app.requestView.onShow" data-after-show="app.requestView.afterShow" id="requestViewScreen" class="screen">     
    <div id="requestViewModel" class="form-view screen__content screen__content--form add-item-view">
        <!--<form>
            <ul class="form-content" data-role="listview" data-style="inset">
            </ul>
        </form>-->
        <!-- START_CUSTOM_CODE_requestViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_requestViewModel -->
    </div>
    <header data-role="header">        
        <div data-role="navbar" class="header-text">
        <a id="backbutton" data-role="backbutton" style="float:left;"></a>
            <span data-bind="text: strings.requestView.title"></span>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_requestView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div> <img src="components/images/smiley.jpg" alt="Smiley face" height="40" width="100%">
    </div>
    <div class="row">
                    <div class="button-group">
                <a data-role="button" onclick="capturePhoto1();" >1. Bild</a>
                <a data-role="button" onclick="capturePhoto2();" >2. Bild</a>
            </div>
        <img class="imgStyle" id="smallImage1" src="">
        <img class="imgStyle" id="smallImage2" src="">
        </div>
        <div class="row">
                    <div class="button-group">
                <a data-role="button" onclick="capturePhoto3();" >3. Bild</a>
                <a data-role="button" onclick="capturePhoto4();" >4. Bild</a>
            </div>
        <img class="imgStyle" id="smallImage3" src="">
        <img class="imgStyle" id="smallImage4" src="">
        </div>
        <div style="width:80%; margin-left:10%;">
                    <label>
                        <span class="field__label" >Zusätzliche Fehlerbeschreibung</span>

                        <textarea rows="7" style="font-size: 20px;" id="damagedMessage"></textarea>
                    </label>
                
        </div>
    <div class="button-group">
        <!--<a data-role="button" data-bind="events: { click: requestViewModel.cancel }">Cancel</a>-->
        <a class="primary" data-role="button" data-bind="events: { click: requestViewModel.submit }" onclick="mailImages()">Senden</a>
    </div>
    <!-- END_CUSTOM_CODE_requestView -->
</div>
<style>
.imgStyle{
    display: block;
    height: 150px;
    width: 40%;
    float: left;
    margin: 5%;
}
</style>